.content {
    position: relative;
}
.tile {
    width: var(--widthTile);
    height: calc(var(--widthTile) / 2);
    border-radius: .5em;
    border: none;
    background-color: rgba(0,0,0,.2);
    clip-path: var(--clipTile);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
    transition: .3s;
}
.tile a {
    align-self: center;
}
.tile .image {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}
.tile .optionsTile {
    display: block;
    cursor: pointer;
    line-height: 0;
    z-index: 2;
    position: absolute;
    font-size: 1.5em;
    right: .4em;
    top: .3em;
    color: transparent;
}
.nameTile p{
    position: absolute;
    z-index: 1;
    color: transparent;
    bottom: 0;
    width: 100%;
    text-align: center;
    animation: changeColorP .6s forwards;
}
.content:hover .tile {
    bottom: 1.1em;
} 
.tile:hover > .optionsTile {
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;    
}
.tile:not( :hover) {
    bottom: 0;
}

.contentPopover {
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 8em;
    margin-top: 1em;
}
.contentPopover button {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding: .3em;
    cursor: pointer;
}
.contentPopover button:hover {
    background-color: rgb(117, 117, 117);
}

@keyframes changeColorP {
    0% {
        color: transparent;
    }
    100% {
        color: #fff;
    }
}
@keyframes changeColorBackP {
    0% {
        color: #fff;
    }
    100% {
        color: transparent;
    }
}
/*  */
@keyframes slidetop {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 1.1em;
    }
    100% {
        bottom: 1.1em;  
    }
}

@keyframes slidedown {
    0% {
        bottom: 1.1em;
    }
    100% {
        bottom: 0;
    }
}