.content {
    position: relative;
}
.tile {
    width: var(--widthTile);
    height: calc(var(--widthTile) / 2);
    border-radius: .5em;
    border: none;
    background-color: rgba(0,0,0,.2);
    clip-path: var(--clipTile);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.tile a {
    align-self: center;
}
.tile .image {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}
.tile .optionsTile {
    display: none;
    cursor: pointer;
    line-height: 0;
    z-index: 2;
    position: absolute;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;    
    right: .4em;
    top: .3em;
}
.nameTile p{
    position: absolute;
    z-index: 1;
    color: transparent;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.tile:not( :hover) {
    animation: slidedown .3s forwards;
}
.tile:hover {
    animation: slidetop .3s forwards;
}
.tile:hover > .optionsTile {
    display: block;
}
.content:hover .nameTile p {
    animation: changeColorP .6s forwards;
}

@keyframes changeColorP {
    0% {
        color: transparent;
    }
    100% {
        color: #fff;
    }
}

@keyframes slidetop {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 1.1em;
    }
}

@keyframes slidedown {
    0% {
        bottom: 1.1em;
    }
    100% {
        bottom: 0;
    }
}