*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background: linear-gradient(91.7deg, rgb(50, 25, 79) -4.3%, rgb(122, 101, 149) 101.8%);
}
:root {
  --widthTile: 200px;
  --clipTile: polygon(10% 0, 100% 0, 100% 30%, 100% 80%, 90% 100%, 30% 100%, 0 100%, 0 20%);
}


@media (max-width: 450px) {
  :root {
    --widthTile: 150px;
  }
}